/* google font family  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');


/* common css  */
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

/* header logo  */
.logo-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

/* slide carousel  */
.slide-title{
    font-weight: 600;
    font-size: 46px;
    text-align: center;
}
.carousel-item img{
    height: 585px;
}
.btn-slide{
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding:10px 25px;
    color: #3F87F5;
    margin-bottom: 30px;
}


/* ==================every-moment-area===================== */
.every-moment-area{
    margin-top: 100px;
    margin-bottom: 100px;
}
.every-thum{
    width: 100%;
}
.btn-every a{
    background: #3F87F5;
    color: #fff;
    padding: 10px 24px;
}


/* ==========================our package================================ */
.package-details{
    margin-top: 150px;
    margin-bottom: 150px;
}
.package-details h2{
    font-weight: 700;
    font-size: 36px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}

.package-details h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: 
    #231D4F;
}

.package-details p{
    font-weight: 400;
font-size: 15px;
margin: 15px 0;
color: #848199;
}

.package .fas{
    color: #5243C2;
    margin-right: 10px;
    font-size: 16px;
}
.package ul li{
    font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #848199;
}

.choose-plan{
    background: #FEF5FA;
mix-blend-mode: normal;
    /* opacity: 0.1; */
    border-radius: 24px;
    padding: 13px 61px;
    margin-top: 24px;
}
.choose-plan a{
    color: #3F87F5;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
}


.pack-active{
    background: #3F87F5;
box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.3);
border-radius: 26px;
    padding:30px;
    color: #fff;
    top: -63px;
}
.pack-active h3{
    color:#fff;
}
.pack-active p{
    color:#fff 
}
.pack-active ul li{
    color: #fff;
}
.pack-active .fas{
    color: #fff;
}
.pack-active{
    position: relative;
}
.pack-active::before { 
    content: "Hot";
    background-color: #FF4E4E;
    border-radius: 20px;
    color: #fff;
    position: absolute;
    padding: 10px 15px;
    top: -20px;
    right: 18px;
    font-weight: 600;
  }
  

  /* happy-clients-area */
  .happy-clients-area{
    margin-bottom: 100px;
  }
  .happy-clients-title ,.frequently-title{
    padding-bottom: 100px;
    font-weight: 600;
    font-size: 38px;
    color: #0A0826;
  }
  .client-details{
    padding: 25px 50px;
  }
  .client-details p{
    line-height: 26px;
    color: #6C6C6C;
  }
  .client-thum{
    margin-bottom: 15px;
  }
  .client-details h4 ,.client-details h5{
    font-weight: 600;
    font-size: 14px;
    color: #0C1920;
  }

  /* frequently-asked-area */

  .frequently-asked-area{
    margin-bottom: 150px;
  }

.frequently-thum img{
    width: 100%;
}


/* brand-logo footer area */
.footer-area{
    background: #0B0D17;
    color: #fff;
    padding: 60px 0;
}
.brand-logo img{
    Width:135px;
    Height:40px;
}


.copy{
    color: #D9DBE1;
}
.brand-title{
    font-weight: 500;
font-size: 18px;
color: #D9DBE1;
}
.brand-link a{
    display: block;
    margin: 16px 0;
}

.brand-link img{
    border: 1px solid #D9DBE1;
    border-radius: 8px;
}






  